root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "./tmp/main"
  cmd = "go build -o ./tmp/main ./cmd/server"
  delay = 1000
  exclude_dir = ["internal/dist/assets", "tmp", "vendor", "testdata"]
  exclude_file = ["internal/components/**/*.go", "internal/db/queries/*.go", "internal/dist/assets/css/output@dev.css"]
  exclude_regex = ["_test.go"]
  exclude_unchanged = true
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "templ", "html", "css", "sql"]
  include_file = []
  kill_delay = "5s"
  log = "build-errors.log"
  poll = false
  poll_interval = 500
  post_cmd = [
    # https://github.com/cosmtrek/air/issues/534
    "lsof -i :8080 -sTCP:LISTEN | sed 1d | awk '{print $2}' | xargs kill -9",
  ]
  pre_cmd = [
    "lsof -i :8080 -sTCP:LISTEN | sed 1d | awk '{print $2}' | xargs kill -9",
    "go tool templ generate -path ./internal/components",
    "go tool go-tw -i ./styles/input.css -o ./internal/dist/assets/css/output@dev.css",
    "go tool sqlc generate",
  ]
  rerun = true
  rerun_delay = 500
  send_interrupt = true
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
